<div class="col-md-4 align-self-stretch" *ngFor="let game of games">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{game.title}}
            <button class="btn btn-danger" (click)="deleteGame(game.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="game.image" alt="imagen de juego" class="card-img-top">
        <div class="card-body">
            <p>{{game.description}}</p>
            <a [routerLink]="['edit/', game.id]" class="btn btn-primary btn-block" id="btn-edit">
                EDIT GAME
            </a>
        </div>
    </div>
</div>